body {
	background: #eaebec;
	font-family: "Open Sans", sans-serif; 
}
.ProductList{
  text-align: center;
}
.title{
  color:#48cfad; 
  font-size:30px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
}

.list-item{
  float: left;
  width: 50%;
}
.ProductItem{
  height: 80px;
  background-color: #D3D3D3;
  border: 1px solid #adadad;
  border-radius: 4px;
  margin: 10px;
  padding-top: 20px;
}
.see_details{
  font-size: 12px;
  cursor: pointer;
}
.ProductDetail{
  background-color: white;
  border: 1px solid #adadad;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  height: 190px;
  
}
.ProductDetail p{
  font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.product-price{
	color:#48cfad;
	font-size:22px;
	font-weight:700;
}
.product-name{
  font-size:22px;
	color:#393c45;
}